# dependencies
node_modules/

# build output
dist/
build/

# logs
*.log

# env files
.env
.env.*
**/.env
**/.env.*
!.env.example

# editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo